<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53948559365-07q1rmnoafmjupfacudu3evm14nc8m1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53948559365-07q1rmnoafmjupfacudu3evm14nc8m1l</string>
	<key>API_KEY</key>
	<string>AIzaSyCyphS-V-83McHyN6jwKDfGp1MbBytgC2E</string>
	<key>GCM_SENDER_ID</key>
	<string>53948559365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steveit.SimpleSnap</string>
	<key>PROJECT_ID</key>
	<string>simplesnap-72ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>simplesnap-72ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53948559365:ios:c8612774d50c8dfb8c2c6c</string>
	<key>DATABASE_URL</key>
	<string>https://simplesnap-72ae7.firebaseio.com</string>
</dict>
</plist>